# Directly called packages.
autopep8==2.3.2
black==26.3.1
isort==7.0.0
pip-audit==2.9.0
pyupgrade==3.21.0
ruff==0.14.10
yapf==0.43.0
#Supporting Packages
CacheControl==0.14.3
boolean.py==5.0
certifi==2025.10.5
charset-normalizer==3.4.3
click==8.1.8
colorama==0.4.6
cyclonedx-python-lib==9.1.0
defusedxml==0.7.1
filelock==3.29.1
html5lib==1.1
idna==3.15
importlib-metadata==8.7.1
license-expression==30.4.4
markdown-it-py==4.0.0
mdurl==0.1.2
msgpack==1.2.1
mypy-extensions==1.1.0
packageurl-python==0.17.6
packaging==25.0
pathspec==1.0.0
pip-api==0.0.34
pip-requirements-parser==32.0.1
platformdirs==4.5.0
py-serializable==2.1.0
pycodestyle==2.14.0
pygments==2.20.0
pyparsing==3.2.5
requests==2.34.2
rich==14.3.3
six==1.17.0
sortedcontainers==2.4.0
tokenize-rt==6.2.0
toml==0.10.2
tomli==2.3.0
urllib3==2.7.0
webencodings==0.5.1
zipp==3.23.0
