# Directly called packages.
bandit==1.8.6
pip-audit==2.9.0
pylint==4.0.5
ruff==0.14.10
vulture==2.16
# Supporting Libraries
CacheControl==0.14.3
PyYAML==6.0.3
astroid==4.0.3
boolean.py==5.0
certifi==2025.10.5
charset-normalizer==3.4.3
cognitive-complexity==1.3.0
cyclonedx-python-lib==9.1.0
defusedxml==0.7.1
dill==0.4.0
filelock==3.29.1
idna==3.15
isort==7.0.0
license-expression==30.4.4
markdown-it-py==4.0.0
mccabe==0.7.0
mdurl==0.1.2
msgpack==1.1.2
packageurl-python==0.17.6
packaging==25.0
pbr==7.0.1
pip==26.1.2
pip-api==0.0.34
pip-requirements-parser==32.0.1
platformdirs==4.5.0
py-serializable==2.1.0
pygments==2.20.0
pyparsing==3.2.5
requests==2.34.2
rich==14.3.3
setuptools==80.9.0
sortedcontainers==2.4.0
stevedore==5.5.0
toml==0.10.2
tomlkit==0.14.0
urllib3==2.7.0
